---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
excerpt: "Peer-reviewed publications and preprints in computer vision, tracking, and vision-language models."
bento_header: true
bento_kicker: "Research"
---

{% include base_path %}

{% assign coral_slug = '2025-coral-reef-fish-identification' %}
{% assign priority_slugs = '2025-hybridtrack,2025-refergpt,2024-deepkalpose' | split: ',' %}

{% assign rendered_urls = '' | split: '' %}

<div class="bento-stack">
  {% for slug in priority_slugs %}
    {% for post in site.publications %}
      {% if post.published == false %}{% continue %}{% endif %}
      {% if post.url contains slug %}
        {% unless rendered_urls contains post.url %}
          {% assign rendered_urls = rendered_urls | push: post.url %}
          {% include archive-single.html %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% for post in site.publications reversed %}
    {% if post.published == false %}{% continue %}{% endif %}
    {% if rendered_urls contains post.url %}{% continue %}{% endif %}
    {% if post.url contains coral_slug %}{% continue %}{% endif %}
    {% include archive-single.html %}
  {% endfor %}

  {% for post in site.publications %}
    {% if post.published == false %}{% continue %}{% endif %}
    {% if post.url contains coral_slug %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</div>



