{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="talk__row">
      {% if teaser %}
        <a class="talk__thumb" href="{{ base_path }}{{ post.url }}" aria-label="Open talk: {{ post.title }}">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="">
        </a>
      {% endif %}

      <div class="talk__body">
        <h2 class="archive__item-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h2>

        <p class="talk__meta">
          {% if post.date %}<span class="talk__meta-item">{{ post.date | date: '%b %Y' }}</span>{% endif %}
          {% if post.talk_type %}<span class="talk__meta-item">{{ post.talk_type }}</span>{% endif %}
          {% if post.venue %}<span class="talk__meta-item"><i>{{ post.venue }}</i></span>{% endif %}
          {% if post.location %}<span class="talk__meta-item">{{ post.location }}</span>{% endif %}
        </p>

        {% if post.excerpt %}
          <p class="talk__excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html }}</p>
        {% endif %}
      </div>
    </div>
  </article>
</div>
